html
    footer
      <br>
      <br>
       <br>
        <br>
         <br>
        p 
        li Made by Simranjot Kaur
        li Student number-200396815
        li cell phone - +17053330468
        li 
            a.btn-link.h1.badge-success(href='http://wwwlinkedin.com/in/simranjot-kaur-kandhola-772540165') <img src="/images1/link.png" width="30" alt="">
        li
           a.btn-link.h1.badge-success(href='http://www.facebook.com/kaur.kandhola.7') <img src="/images1/face.png" width="30" alt="">
// Simranjot kaur  200396815  COMP2068
// This is the footer page which will be at the bottom of every page.