extends layout

block content
  h1= title
  p
    <img src="/images1/profile pic.jpg" width="200" alt="">
  p
  h1 Introduction
  p  Hello Everyone my name is Simranjot Kaur and I am a computer Programmer. My journey of becoming computer programmer started in 2018 when I decided to go for programming field after completing my higher studies. In the starting i faced many problems as to learn the programming but with the passing of time i learned it.
  ul
  b Impossible says i am possible.
  p With the above motivation i really worked hard in learning the programming. In this world nothing is impossible if you work hard and focus on your goals definately you will achieve success. I enjoyed the company of the people who are having similar intrests like me so, that I can learn something from them and help them.I believe in walking rather than talking. I always try to give my 100% to the things whom i love doing. As learning never stops in the same way I always try to learn from othera and from my past mistakes.
 
