extends layout

block content
  h1= title
  p Welcome to #{title}
  p LEARNING NEVER STOPS.
  p With the passing time my experiences are getting double. I am sharing my experiences and my duties at workplace downside.

  b Fat Bastard Burrito
  p
   ul
      li I was working as a team member at a restaurant at Fat Bastard Burrito which is located at bayfield street in Barrie.
      li Taking customers order and preparing their order.

  b IT Technician at Computer Host
  p
   ul
      li Assess functionality of electronic equipment and components using provided tools and diagnostic software.
      li Provide technical support and troubleshoot the problems.
      li Assemble disassemble or refurbish computers - conduct repairs when economically justified.
      li Update Customer logs in System. Manage and update company website to follow company rules.
      li Assist with other departmental tasks as the need requires (FedEx and DHL)