extends layout

block content
  h1= title
  <img src="/images1/main pic.jpg" width="300" alt="">
  p Welcome to my portfolio. In this you will get to know about my work history and experience and my study life and my skills. 