extends layout

block content
  h1= title
  p
  b On this page you will get to know about my soft and technical skills.
  p
     ul
        li Project development and core programming using Java, C++ 
        li Mobile application development using Swift 
        li Dynamic web development and form validation using JavaScript, HTML, CSS and PHP, node server-side scripting 
        li Proficient in MySQL and MSSQL data handling  
        li Web Application development using C# and ASP.Net and JavaScript 
        li Mainframe systems management by using CRUD functions 
        li Game development and simulation using Unreal and audacity 
        li Creating gadgets using Arduino Leonardo board	 
        li Italian beginners proficiency 
        li Hardworking and time punctual
        li Ability to change according to the situation